body{
    font-family: $base-font-family;
}

.header {
    max-height: 20vh;
    display: grid;
    grid-template-columns: 1.2fr 10fr 2fr 1fr;
    max-width: 90%;
    margin: 0 auto;
    padding: 7% 2%;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    
    &__nav--wrapper {
        display: none;
        
        &.active {
            display: block;
            position: absolute;
            height: 120%;
            z-index: 101;
            top: 0;
            left: 0;
            width: 70%;
            background-color: $color-mu;

        }

        .header__nav {
            position: absolute;
            top: 10%;
            left: 8%;
            list-style: none;
            align-items: left;
            z-index: 102;
            flex-direction: column;
            color: $color-psi;
        }

        .header__icon-mobile-close {
            top: 3%;
            left: 8%;
            position: relative;

        }

        .nav__item {
            margin-bottom: 15px;
        }

        .nav__link {
            color: $color-psi;
            font-weight: $font-weight-bold;  
            &:hover {
                color: $color-omega;
            }  
        }
        
    }

    &__icon-mobile  {
        margin: 13px 5px 0 0;
        height: 100%;
        &--open {
            display: block;
            &.active {
                display: block;
            }
        }
    }

    &__logo {
        height: 25px;
    }
    
    &__cart {
        height: 25px;
        position: relative;
        margin-top: 4px;

        .header__cart--icon {
            margin-top: 2.5px;
        }
     
    }

    &__avatar {
        height: 30px;
        width: 30px;
    }


    &__cart--items {
        display: none;
        &.active {
            display: block;
            position: absolute;
            height: 14px;
            width: 23px;
            background-color: $color-alpha;
            color: $color-mu;
            top: -20%;
            left: 17%;
            border-radius: 40%;
            font-size: 0.7em;
            text-align: center;
        }
    }

    &__modal {
        background-color: $color-mu;
        height: 300px;
        width: calc(100% - 16px);
        display: block;
        position: absolute;
        z-index: 105;
        border-radius: 10px;
        margin: 0 auto;
        top: 100px;

        .modal__name {
            padding: 35px 0;
            border-bottom: 1px solid $color-sigma;
        }

        .modal__name--text{
            margin-left: 22px;
            font-weight: $font-weight-bold;
     
        }

        .modal__price {
            display: flex;
            color: $color-sigma;
        }

        .modal__foto {
            height: 50px;
            width: 50px;
        }

        .modal__details {
            padding: 10px;
        }

        .modal__button {
            background-color: $color-alpha;
            border-radius: 10px;
            padding: 10px;
            width: 90%;
            height: 50px;
            color: $color-mu;
            font-weight: $font-weight-bold;
            font-size: 1.1em;
        }       
       
    }

    .nav__background {
        display: none;
        &.active {
            background-color: $color-psi;
            opacity: 0.7;
            position: absolute;
            height: 130%;
            z-index: 100;
            top: 0;
            left: 70%;
            width: 30%;
            display: block;

        }
    }
}

.slider {
    width: 100%;
    height: 350px;
    margin: 0 auto;

    &__wrapper {
        position: relative;
        height: 100%;
    }

    &__circle--right {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        cursor: pointer;
        background-color: $color-mu;
        right: 18px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__circle--left {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        cursor: pointer;
        left: 18px;
        background-color: $color-mu;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    } 
    
    &__arrow {
        z-index: 2
    }
       
}


.main {
    &__wrapper {
        max-width: 90%;
        margin: 0 auto;
    }

    &__company {
        color: $color-alpha;
        font-weight: $font-weight-bold;
        margin: 20px 0;
    }

    &__title {
        font-size: 2em;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
    }

    &__text {
        line-height: 1.4;
        color: $color-omega;
        font-size: 1em;
    }
}

.price {
    max-width: 90%;
    margin: 0 auto;

    &__info {
        margin: 20px 0;
        display: grid;
        grid-template-columns: 2fr 2.5fr 1fr;
        align-items: center;
        justify-content: center;
    }

    &__old {
        font-size: 1.9em;
        font-weight: $font-weight-bold;
    }

    &__discount {
        .discount__number {
            color: $color-alpha;
            width: 35%;
            font-weight: $font-weight-bold;
            background-color: $color-beta;
            padding: 4px 8px;
            font-size: 1.2em;
            
        }
    }

    &__new {
        font-size: 1.3em;
        color: $color-sigma;
        font-weight: $font-weight-bold;
        text-decoration: line-through;
    }

    &__items {
        background-color: $color-nu;
        height: 60px;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 2fr 5fr 2fr;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;

        .items__number {
            font-weight: $font-weight-bold;
            font-size: 1.2em;
            text-align: center;
        }

        .items__plus {
            height: 30px;
        }
    }

    &__button {
        height: 60px;
        background-color: $color-alpha;
        width: 100%;
        border-radius: 10px;
        color: $color-mu;
        font-size: 1.1em;
        margin-bottom: 60px;
        font-weight: $font-weight-bold;
        box-shadow: 4px 36px 17px -8px rgba(255,237,224,0.63);

        .price__cart {
            margin-right: 13px;
            height: 19px;
        }

    } 

}
